@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1599046001480'); /* IE9 */
  src: url('iconfont.eot?t=1599046001480#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABlgAAAJTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgo4VQE2AiQDDAsIAAQgBYRtB0gbpQUR1YtLsj9APLZDQlK62qxnONjDxxhM/1eWtwWOfG4WkIASkAAAAAAAQ+l5+G+/dt/MfNldxBsk0UgXrZs2cWg0EqGTITVCJCRCsiQeyR+qdnt/B1/ozWSUSEABSYtz5vYsZIQZytkDKtSjpOvHWU7CygdAAvJMNMAm87wsW5Dsr7jxco5xMCCPbzDzLbrPczm9CXR2ND/Quazmpj1s+FEvwDigAPemKLISybyUVGLD9CIG8es2gb4l2+Joe75BK6JFgbi0JoHuFRSFtVuhntlZiFuVNr0UuCm/Hz9hNJIqE60cnk0O+2uGDmcRigS4v0LGNgoxmm0MsWBc1m/EMv+aFLz73buKi7/yifjrks4xsA496ciWRsSaDe6RQAZ1v1VjErFz14XIvpTXbJZp317982JpDOisjf5CCM7Xs/i/LcAjI5jTGfIFoP1CMggN286+Yh1RLBdtpqb3Z1YjAXWe1hFlZryc98/v7iW05k+kGoststYyWdhtVAZ2UGvtom/L6f6BWVdYlAGbrgHClDskE+6RTXkgC/uMyoI/1KbC6BupEwdWA7fjlVCilGP6Q5u1DUvouOq+kHlViXQdpfAgGWwZA9cftnfUkNyxZnibUJWRpa1xC+6jqmqxk/ZJmbqFahd5Hs+9yc3aGsawEkqUckx/aLO24Xy4jkefv5B5VYmsWBr1g2Sw42Pg+jvInbfZZfmXV4a3CVUZWdoat2AaVVWL3fy0J2XqFidqXeTFg3iv133fX4fvCDAhetqjkhXmKjZpTEWOWFPorKvJswIAAAAA') format('woff2'),
  url('iconfont.woff?t=1599046001480') format('woff'),
  url('iconfont.ttf?t=1599046001480') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1599046001480#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-right:before {
  content: "\e67d";
}

.icon-triangle-left:before {
  content: "\e67e";
}

